.articleSection {
  padding: 0rem;
}
.bookingH2_div {
  text-align: center;
  background-color: #f6a3e4ff;
  padding: 2rem;
}
.bookingH2 {
  margin: 0;
  text-shadow: 2px 2px #e62323;
}
.booking_section {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: #f6a3e4ff;
  text-align: center;
}
.booking_container {
  display: grid;
  grid-template-columns: 70% 30%;
  background-color: #f6a3e4ff;
  text-align: center;
  padding: 1rem;
}
.ticket_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  padding: 2rem;
}
.ticket_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.booking_section h3 {
  margin: 0;
  padding: 2rem;
  text-decoration: underline;
}
.ticket_section h4 {
  font-family: "Righteous", cursive;
  text-shadow: 2px 2px #000;
}
.ticket_section p {
  color: black;
}
.booking_ticket_button {
  background-color: #f0037a;
  color: white;
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 13px black;
  font-size: 1.414rem;
  padding: 1rem;
  cursor: pointer;
}

#Qty {
  margin: 0 7%;
  border: none;
  outline: none;
}
.add_cart {
  border: none;
  border-radius: 10px;
  background-color: #f0037a;
  color: white;
  padding: 1rem;
  cursor: pointer;
}
.quantity_form {
  display: flex;
  justify-content: center;
  position: relative;
  /* user-select: none; */
}
.bookingFee {
  font-size: 1rem;
}
.quantity_form input {
  text-align: right;
}
.quantity_form span {
  position: absolute;
}
.remove_symbol {
  top: 20%;
  left: 22%;
}
.add_symbol {
  top: 20%;
  left: 41%;
}
.h5_text {
  font-family: "Poppins", sans-serif;
  font-size: 1.414rem;
  color: white;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.h3_text {
  text-shadow: 2px 2px #000;
}

.form_styling {
  border: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.creditFormStyling {
  border: none;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.calc_text {
  border: none;
  border-radius: 2rem;
  text-align: center;
  padding-left: 5rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px #000;
  margin: 3rem 2rem 1rem 2rem;
}
.calc_text_h4 {
  font-size: 1.5rem;
}
.close_button {
  background-color: white;
  color: black;
  border: 0;
  cursor: pointer;
  margin-left: 1rem;
  border-radius: 10px;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.label_text {
  font-family: "Righteous", cursive;
  text-align: end;
  margin-top: 1.2rem;
  margin-right: 2rem;
}
.input_text {
  padding: 0.8rem;
  margin: 0.5rem;
  width: 13rem;
  border-radius: 10px;
  letter-spacing: 0.05rem;
  font-weight: 500;

  /* margin-right: 6rem; */
  /* text-transform: uppercase; */
}
@media screen and (min-width: 601px) {
  .booking_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .booking_section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ticket_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .h3_text {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .booking_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .booking_section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .ticket_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .h3_text {
    font-size: 1.7rem;
  }
  .form_styling {
    border: none;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1rem;
  }
  .creditFormStyling {
    border: none;
    text-align: start;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1rem;
  }
  .label_text {
    font-family: "Righteous", cursive;
    text-align: left;
    margin-top: 1.2rem;
    margin-right: 2rem;
  }
  .input_text {
    padding: 0.8rem;
    margin: 0.5rem;
    /* width: 13rem; */
    border-radius: 10px;
    letter-spacing: 0.05rem;
    font-weight: 500;

    /* margin-right: 6rem; */
    /* text-transform: uppercase; */
  }
}
@media screen and (min-width: 850px) {
  /* .booking_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  } */
  .booking_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ticket_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .h3_text {
    font-size: 3rem;
  }
}
