.camping_container {
  font-family: "Righteous", cursive;
  /* text-shadow: 2px 2px #000; */
  margin-bottom: 3rem;
  text-align: center;
}
.camping_h4 {
  margin-bottom: 0.3rem;
}

.camping_h3 {
  font-family: "Righteous", cursive;
  text-shadow: 2px 2px #000;
  /* margin: 1rem; */
}
.camping_p {
  color: black;
  font-size: 1rem;
  text-shadow: none;
}
.camping_heading {
  text-align: center;
}
@media (max-width: 600px) {
  .camping_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 601px) {
  .camping_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 850px) {
  .camping_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1000px) {
  .camping_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
