/* //////////////custom variables///////////////////////////// */
:root {
  --primary-font: "Righteous", cursive;
  --secondary-font: "Poppins", sans-serif;
  --tertiary-font: "Rubik Glitch", cursive;
}
body {
  background-color: #70d7ff;
}

/* //////////////footer styling///////////////////////////// */
.footer_content {
  padding: 2rem;
  margin: 0 2rem 0 2rem;
  line-height: 2.5rem;
}
.footer_text {
  font-size: 1.414rem;
}
.footer_information {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact,
.email,
.socials {
  padding-right: 4rem;
}
.footer_headlines {
  display: flex;
  padding: 2rem;
  gap: 5rem;
  align-items: center;
}
