:root {
  --primary-font: "Righteous", cursive;
  --secondary-font: "Poppins", sans-serif;
  --dark-color1: #f0037a;
  --dark-text-color: black;

  font-size: 16px;
}

.foo_header {
  background-image: url(../assets/bg.webp);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header_h1 {
  font-family: var(--primary-font);
  color: white;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  text-align: center;
}

.header_h3 {
  margin: 0;
  padding-top: 9rem;
  padding-left: 1rem;
}

.buyTicketHeader {
  background-color: var(--dark-color1);
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 4rem;
  box-shadow: 2px 2px 15px black;
  font-size: 1.414rem; /* used the size from H4 */
  font-family: var(--secondary-font);
  margin-left: 25%;
  inset: 0 0 0 0;
  color: black;
}

@media only screen and (min-width: 600px) {
  .header_h1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .header_h3 {
    padding-top: 10rem;
    padding-left: 2rem;
  }

  .buyTicketHeader {
    padding: 1rem;
    margin-bottom: 5rem;
    margin-left: 40%;
  }
}

@media only screen and (min-width: 700px) {
  .header_h3 {
    padding-top: 16rem;
    padding-left: 4rem;
  }
}

@media only screen and (min-width: 900px) {
  .header_h3 {
    padding-top: 13rem;
    padding-left: 5rem;
  }

  .buyTicketHeader {
    padding: 1rem;
    margin-bottom: 7rem;
    margin-left: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .header_h3 {
    padding-top: 15rem;
    padding-left: 7rem;
  }

  .buyTicketHeader {
    padding: 1rem;
    margin-left: 45%;
  }
}
