/* //////////////css variables///////////////////////////// */
:root {
  --primary-font: "Righteous", sans-serif;
  --secondary-font: "Poppins", sans-serif;
  --dark-color1: rgb(255, 71, 195);
  --dark-text-color: rgb(255, 255, 255);
}

/* //////////////////////////Navigation bar///////////////////////////////// */
body {
  margin: 0;
}
.navigation {
  background: transparent;
  background-color: rgb(108, 193, 246, 0.9);
  position: fixed;
  top: 0;
  right: 0%;
  left: 0%;
  width: 100%;
  padding: 2rem;
  box-shadow: 2px 2px 10px #6cc1f6;
  z-index: 9999;
}

nav li {
  list-style: none;
  display: inline;
  color: black;
  font-family: var(--secondary-font);
  font-size: 1rem;
}
nav li a {
  color: black;
}
.logoText {
  margin: 0;
  text-shadow: 2px 2px #b523e6;
}
/* ///////////////////////////////BUY ticket Button////////////////////////////////// */
.buyTicketButton {
  background-color: var(--dark-color1);
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 1px 1px 10px black;
  font-size: 1.414rem;
  font-family: var(--secondary-font);
  margin-left: 4rem;
  /* text-shadow: 1px 1px #444042; */
  color: black;
  cursor: pointer;
}
.backButton {
  position: fixed;
  top: 3rem;
  left: -3rem;
  background-color: var(--dark-color1);
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 1px 1px 10px black;
  font-size: 1rem;
  font-family: var(--secondary-font);
  margin-left: 4rem;
  /* text-shadow: 1px 1px #444042; */
  color: black;
  cursor: pointer;
  background-color: #6cc1f6;
}

@media screen and (min-width: 600px) {
  .navigation {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 1rem;
  }
  nav {
    display: flex;
    justify-content: end;
  }
  nav ul {
    padding: 0;
  }
  nav li {
    margin-top: 1rem;
    padding: 0.5rem;
  }
  nav li a {
    font-size: 1rem;
  }

  .buyTicketButton {
    font-size: 1rem;
    margin-left: 0px;
  }

  .logoText {
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
}

/* ///////////////////////mobile view///////////////////////////// */
@media (max-width: 600px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  .navigation ul {
    display: flex;
    flex-direction: column;
    text-align: end;
  }
  .buyTicketButton {
    display: none;
  }
  .logoText {
    margin-top: 1rem;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px white;
  }
}
@media screen and (min-width: 800px) {
  nav li a {
    padding: 1rem;
  }
  .buyTicketButton {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
  .logoText {
    font-size: 3rem;
  }
}
nav li a {
  text-decoration: none;
  /* font-weight: 600; */
  font-family: var(--secondary-font);
}
a {
  text-decoration: none;
}
