.newsletterBG {
  /*background-color: var(--primary-font); light blue colour used before*/
  background-color: #6cc1f6;
  font-family: var(--secondary-font);
  /* padding: 2rem 5rem 2rem 5rem; */
  text-align: center;
  padding: 3rem;
}
@media screen and (min-width: 750px) {
  .newsletterBG {
    padding: 2rem 5rem 2rem 5rem;
  }
}
.paragraf {
  color: black;
}
.header {
  font-family: var(--primary-font);
  color: white;
}
.letterText {
  font-family: var(--primary-font);
  text-align: center;
}
.letterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: none;
}
.formInput {
  padding: 0.8rem;
  margin: 0.5rem;
  width: 14rem;
  border-radius: 10px;
  letter-spacing: 0.05rem;
  font-weight: 500;
  /* border: none; */
  text-align: center;
}
.inputButton {
  background-color: var(--dark-color1);
  color: black;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  font-size: 1.414rem;
  padding: 1rem;
  cursor: pointer;
  font-family: var(--secondary-font);
}
