.scheduleSection {
  background-color: #6cc1f6;
  text-align: center;
  padding: 3rem;
}
.scheduleSection h2 {
  margin: 0;
  color: white;
}
.scheduleSection h4 {
  color: black;
}
.scheduleButton {
  background-color: var(--dark-color1);
  border: 0;
  border-radius: 10px;
  color: black;
  padding: 1rem;
  box-shadow: 2px 2px 15px black;
  font-size: 1.414rem;
  font-family: var(--secondary-font);
  inset: 0 0 0 0;
  animation-name: pulsing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes pulsing {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .scheduleSection {
    padding: 1rem;
  }
}
