.schedule-section {
  background-color: #f6a3e4ff;
  text-align: center;
  padding: 3rem;
}
.schedule-section h2 {
  margin: 0;
  color: white;
}
.schedule-section h4 {
  color: black;
}
.schedule-button {
  background-color: var(--dark-color1);
  border: 0;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 1px 1px 10px black;
  font-size: 22px;
  font-family: var(--secondary-font);
  margin-left: 4rem;
  width: 20%;
}
@media (max-width: 700px) {
  .schedule-button {
    width: 30%;
  }
}
